<div class="container">
  <div class="row">
    <div class="col-4 my-3">
      <h4 class="bg-secondary text-white text-center m-3 px-3 rounded">
        商品一覧
      </h4>
    </div>
    <div class="col-2 ml-auto my-4">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-center">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <th><%= item.id %></th>
              <th>
                <%= link_to admin_item_path(item.id) do %>
                  <%= item.name %>
                <% end %>
              </th>
              <th><%= item.price %></th>
              <th><%= item.genre.name %></th>
              <th><% if item.is_active == true%>
                  <p class="text-secondary">販売中</p>
                <% else %>
                  <p class="text-success">販売停止中</p>
                <% end %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @items %>
  </div>
</div>