<div class="container">
  <div class="row my-5">
    <div class="col-auto align-self-center">
      <h4 class="bg-secondary text-white text-center ml-lg-5 px-5 rounded">
        会員一覧
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-center">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <th><%= customer.id %></th>
              <th>
                <%= link_to admin_customer_path(customer.id) do %>
                  <%= customer.name %>
                <% end %>
              </th>
              <th><%= customer.email %></th>
              <th>
                <% if customer.is_deleted == false %>
                  <p class="text-success">有効</p>
                <% else %>
                  <p class="text-secondary">退会</p>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @customers %>
  </div>
</div>