<div class="container">
  <div class="row my-3">
    <h4 class="bg-secondary text-white my-3 mx-auto mx-md-5 px-4 rounded">ジャンル一覧</h4>
  </div>
  <div class="row">
    <%= form_with model: @genre,url: admin_genres_path,method: :post do |f| %>
      <%= f.label :"ジャンル名",class: "mr-3" %>
      <%= f.text_field :name,autofocus: true,placeholder:"ジャンル名",class: "mr-3" %>
      <%= f.submit "新規登録",class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="row no-gutters mt-4">
    <div class="col-lg-4 col-sm-6 ml-3">
  <table class="table border">
    <thead class="thead-light">
      <tr>
        <th class="text-right">ジャンル名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td class="align-middle">
          <%= genre.name %>
        </td>
        <td class="text-right pr-4">
          <%= link_to "編集する", edit_admin_genre_path(genre.id),class: "btn btn-success" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @genres %>
  </div>
  </div>
</div>